/* COLORS */
:root{
    --Dark-Blue:hsl(233, 26%, 24%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);
    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-lue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
}

/* FONTS */
@font-face{
    font-family: 'Public Sans';
    src: url('https://fonts.google.com/specimen/Public+Sans');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.ttf');
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    font-size: 95%;
    font-family: 'Montserrat', sans-serif;
}

body {
    position: relative;
}

/* BUTTONS */
.btn-primary {
    color: var(--White);
    border: none;
    border-radius: 100px;
    padding: .8rem 2.2rem;
    background: linear-gradient(to right, var(--Lime-Green), var(--Bright-Cyan));
    cursor: pointer;
    transition: all .2s;
}
.btn-primary:hover {
    background: linear-gradient(to left, var(--Lime-Green), var(--Bright-Cyan));
}

/* TYPOGRAPHY */
h1 {
    font-size: 2.5rem;
}
.paragraph {
    font-size: .9rem;
    color: var(--Grayish-Blue);
}

/* HEADER START */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: var(--White);

    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.header-list {
    display: flex;
}

.header-list-item{
    padding: 0 1rem;
}

.header-list-link::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background: var(--Dark-Blue);
    top: 32px;
    left: 0;
    opacity: 0;
}

.header-list-item:hover .header-list-link::after {
    opacity: 1;
}

.header-list-item:hover .header-list-link {
    color: var(--Dark-Blue);
}

.header-list-link{
    text-decoration: none;
    color: var(--Grayish-Blue);
    position: relative;
    font-size: .9rem;
}
/* HEADER END */

/* GRID */
.container {
    margin-top: 60px;

    display: grid;
    grid-template-rows: 500px 1fr max-content max-content;
    grid-template-columns: 1fr repeat(8, 1fr) 1fr;
}
/* GRID END */

/* cover START */
.cover {
    grid-column: 2 / 6;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cover-img {
    grid-column: 6 / -1;
    grid-row: 1 / span 1;
    position: relative;
    object-fit: cover;
    height: 80%;
}

.cover-paragraph {
    padding: 1.8rem 0;
}

.background-intro {
    height: 122%;
    transform: translateY(-77px);
    z-index: 1;
    width: 100%;
}

.mockups {
    top: -120px;
    right: -100px;
    width: 100%;
    position: absolute;
    z-index: 2;
}
/* cover END */


/* choose START */
.choose {
    grid-column: 2 / 10;
    grid-row: 2 / span 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2.5rem 0;
}

.choose-paragraph {
    padding: 1rem 0;
    max-width: 550px;
}

.features {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 30px;
}

.feature-card {
    padding: 1rem 0;
}
.heading-card{
    padding: 1.5rem 0;
}
/* choose END */

/* article START */
.articles {
    grid-column: 2 / 10;
    grid-row: 3 / span 1;
    padding: 3.5rem 0;
}

.heading-h2{
    padding: 2rem 0;
}

.articles-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: .8rem;
}

.article-card{
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        overflow: hidden;
        background: var(--White);
        box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
        cursor: pointer;
}


.article-img-box {
    max-height: 179.8px;
    height: 179px;
}

.article-img {
    width: 100%;
    height: 100%;
}

.article-container-text {
    padding: 1.5rem 1rem;
}
.paragraph-article {
    padding: .5rem 0;
}
/* article END */

/* footer START */
.footer {
    grid-column: 1 / -1;
    grid-row: 4 / span 1;

    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 10px;
    background: var(--Dark-Blue);
}


.social-icons {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.footer-item {
    padding: 3px 0;
}

.footer-link {
    text-decoration: none;
    color: var(--Grayish-Blue);
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.paragraph-copyright {
    padding: 0;
    margin-top: 15px;
    font-size: .8rem;
}
/* footer END */

/* BREAKPOINTS */
@media (max-width: 700px) {
    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer-list.list-1 {
        padding: 1rem 0;
    } 
    .footer-list.list-2 {
        padding-bottom: 1rem;
    } 
    .footer-right {
        align-items: center;
    }
}

@media (max-width: 900px) {
    .container{
        grid-template-rows: 300px 1fr max-content max-content;
    }
    .cover {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
    }

    .cover-img{ 
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    }


    .mockups {
        width: 66%;
        position: absolute;
        z-index: 2;
        top: -225px;
        left: 50%;
        transform: translateX(-50%);
    }

    .cover-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 3rem 4rem;
            text-align: center;
    }

    .choose {
        grid-row: 3 / 4;
    }

    .articles {
        grid-row: 4 / 5;
    }
}